.cssPlcGreen {
    margin: 10px;
    width: 200px;
    padding: 10px;

    border: 4px solid limegreen;
    border-radius: 10px;
    background-color: #004040;
    color: bisque;
}

.cssPlcRed {
    margin: 10px;
    width: 200px;
    padding: 10px;

    border: 4px solid red;
    border-radius: 10px;
    background-color: #400000;
    color: bisque;
}

.cssLineGreen {
    border-bottom: 4px solid lightgreen;
    border-radius: 10px;
    margin: 5px;
}

.cssLineRed {
    border-bottom: 4px solid red;
    border-radius: 10px;
    margin: 5px;
}

.cssIpAddGreen {
    background-color: darkcyan;
    border-radius: 5px;
    padding: 2px;
}

.cssIpAddRed {
    background-color: darkmagenta;
    border-radius: 5px;
    padding: 2px;
}

.modal {
    padding: 15px;
    margin: 0px;
}